* {
  margin: 0px;
  padding: 0px
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}
header {
  background-color: rgba(5, 214, 204, 0.832);
  background: linear-gradient(90deg, rgba(24, 16, 167, 0.896) 8%, rgba(0, 255, 255, 0.918) 52%, rgba(0, 255, 255, 0.89) 85%);
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  height: 15vh;
}
header img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 10px;
}

.burger {
  border-radius: 5px;
  display: none;
}

.burger-conteiner {
  background-color: saddlebrown;
  padding: 5px;
  width: fit-content;
  display: none;
  position: absolute;
  color: black;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
}

.burger-conteiner li {
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
  color: white;
}

.burger-conteiner li:hover {
  transition: all;
  transition-duration: 0.3s;
  color: rgb(193, 162, 70);
}

header h1:hover {
  color: rgb(202, 192, 192);
  transition: all;
  transition-duration: 0.5s;
  animation: pulse 0.5s;
  animation-iteration-count: infinite;
}
.navbar a {
  color: rgb(249, 247, 247);
  text-decoration: none;
}
.navbar a:hover {
  transition: all;
  transition-duration: 0.3s;
  color: rgb(193, 162, 70);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-decoration: none;
}

.navbar2 input {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  padding-right: 70px;
  text-decoration: none;
}

.navbar2 img{
  margin-left: 80px;
  animation-iteration-count: infinite;
  text-decoration: none;
}
.main h1 {
  font-family: fantasy;
}
.middle {
  margin-top: 20px;
}

.text {
  position: absolute;
  color: white;
  margin-left: 200px;
}

.text button {
  background-color: aqua;
  border-radius: 15px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.section-video video {
  margin-left: 100px;
  margin-bottom: 20px;
}

.middle .section1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
  gap: 30px;
  overflow-x: auto;
}
.middle .section2 {
  display: flex;
  justify-content: space-around;
}

.middle img {
  width: 100px;
  height: 200px;
  width: fit-content;
  border-radius: 15px;
}
.middle img:hover {
  box-shadow: 5px 5px 10px black
}
.middle .section3 {
 margin-top: 40px;
 display: flex;
 justify-content: space-around;
}

.section4 img {
  width: 230px;
  height: 430px;
  width: fit-content;
  margin-top: 25px;

}
.box{
  text-align: center;
  color:rgba(0, 0, 0, 0.582);
  margin-top: 30px;
}

.box2{
  text-align: center;
  color: rgba(0, 0, 0, 0.656);
  margin-top: 30px;
}

.box3{
  text-align: center;
  color: rgba(255, 255, 255, 0.812);
  margin-top: 30px; 
}

.section5 {
  background-color: rgb(48, 45, 45);
  color: rgb(93, 251, 82);
  height: 250px;
  font-size: 20px;
}
.section5 h1 {
  margin-left: 20px;
  margin-top: 20px;
}
.section5 img {
  width: 180px;
  height: 180px;
  width: fit-content;

}

.section5 img:hover {
  transition: all;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.section5 {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(25,21,163,1) 31%, rgba(148,187,233,1) 100%);
}
.section5 div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

footer {
  background: rgba(255, 255, 255, 0.799);
  background: linear-gradient(90deg, rgb(250, 1, 1) 8%, rgb(8, 39, 164) 52%, rgb(4, 250, 221) 85%);
  height: 80px;
  color: white;
  margin-top: 20px;

}
footer img {
  width: 20px;
  height: 20px;
  width: fit-content;
}
.navbar-footer {
  width: 100%;
  padding-left: 10%;
}
.navbar-footer .tel {
  margin-left: 230px;
}

body {
  background-image: url('https://artofthemovies.co.uk/cdn/shop/products/star-wars-the-rise-of-skywalker_azv75v7f_1024x1024@2x.jpg?v=1648495114');
  background-repeat:inherit
}

.text-1{
  color: rgba(255, 30, 0, 0.929);
  border-radius: 40px;
  background-color: aqua;
  font-size: 20px;
  font: 200px;
  margin-top: 20px;
  text-align: center;
}
.burger{
  justify-content: center;
}

.box-1{
  background-color: grey;
  width:200px;
  height: 200px;
  padding: 20px;
  margin-left: 600px;
  margin-top: 100px;
  gap: 20px;
}
.qorap{
 width: 80px;
 height: 20px;
}
.box-1:hover{
  transform: scale(1.3);
}
.box-2:hover{
  transform:scale(1.3) ;
}



@keyframes wheel {
  0% {
      transform:rotate(720deg);
  }
  50% {
      transform:rotate(360deg);
  }
  100% {
      transform: rotate(720deg);
  }
}

@keyframes pulse {
  0% {
      rotate:0deg;
  }
  50% {
      rotate:20deg;
  }
  100% {
      rotate: 0deg;
  }
}

@media (max-width:768px) {
  .navbar, .navbar2,.section2 {
      display: none;
  }
  .burger {
      display: block;
  }
  header {
      justify-content: space-between;
  }

  main {
      display: none;
  }

  footer {
      display: none;
  }

  .burger-conteiner {
      display: block;
  }
}