* {
    margin: 0px;
    padding: 0px
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    overflow-x: hidden;
  }
  header {
    background: rgba(7, 223, 212, 0.815);
    background: linear-gradient(90deg, rgba(24,16,167,1) 8%, aqua 52%, aqua 85%);
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
    height: 15vh;
  }
  header img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  .burger {
    border-radius: 5px;
    display: none;
  }
  
  .burger-conteiner {
    background-color: saddlebrown;
    padding: 5px;
    width: fit-content;
    display: none;
    position: absolute;
    color: black;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
  }
  
  .burger-conteiner li {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    color: white;
  }
  
  .burger-conteiner li:hover {
    transition: all;
    transition-duration: 0.3s;
    color: rgb(193, 162, 70);
  }
  
  header h1:hover {
    color: rgb(202, 192, 192);
    transition: all;
    transition-duration: 0.5s;
    animation: pulse 0.5s;
    animation-iteration-count: infinite;
  }
  .navbar a {
    color: white;
    text-decoration: none;
  }
  .navbar a:hover {
    transition: all;
    transition-duration: 0.3s;
    color: rgb(193, 162, 70);
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .navbar2 input {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding-right: 70px;
  }
  
  .navbar2 img{
    margin-left: 80px;
    animation: wheel 0.5s;
    animation-iteration-count: infinite;
  }

  body {
    background-image: url('https://artofthemovies.co.uk/cdn/shop/products/star-wars-the-rise-of-skywalker_azv75v7f_1024x1024@2x.jpg?v=1648495114');
    background-repeat:inherit
  }

  .section1 img {
    width: 300px;
    height: 300px;
    width: fit-content;
    display: flex;
   justify-content:space-between;
   margin-top: 15px;
}

.section-1{
  width: 180px;
  height: 180px;
  width: fit-content;
}

.box{
  text-align: center;
  color: rgba(255, 255, 255, 0.871);
  margin-top: 30px;
}

.box-2,.box-3,.box-4,.box-5,.box-6,.box-7,.box-8{
  width: 200px;
  height: 300px;
}

.top{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.top1{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100px;
  height: 100px;
}

    
  

 
  